/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/sysinfo_buddy.iml
/.idea/syspiper.iml
/.idea/vcs.xml
/.venv/
/config.json

# Python bytecode
__pycache__/
*.py[cod]
